<div class="experience-footer">
  <div class="experience-footer__container">
    <div class="experience-footer__content">
      <h2 class="experience-footer__title"> Connect With Us</h2>
    </div>
    <div class="experience-footer__description">
      <p class="experience-footer__description-text">Remarkable Experiences</p>
      <p class="experience-footer__description-text">Bengaluru, India</p>
      <p class="experience-footer__description-text">+91 XXX XXX XXX</p>
      <p class="experience-footer__description-text">contact@remarkableentertainments.com</p>
    </div>
  </div>
</div>