// BRAND COLORS

$brand-purple: #B500DB;

$brand-indigo: #3215AD;

$brand-navy:   #08082C;

$brand-lilac:  #C9C6FF;



// SEMANTIC COLORS

$color-primary:       $brand-purple;

$color-primary-dark:  #8B00AF;

$color-secondary:     $brand-indigo;

$color-accent:        $brand-lilac;



$color-bg-dark:       $brand-navy;

$color-bg-surface:    #10102F;

$color-bg-light:      #F5F5FF;



$color-text-light:    #ECECF5;

$color-text-dark:     #0F1724;

$color-text-muted:    #A3A3B5;



// UTILITIES

$white: #ffffff;

$black: #000000;

$border-light: rgba(255, 255, 255, 0.1);

$border-dark: rgba(0, 0, 0, 0.15);

$shadow-color: rgba(0, 0, 0, 0.25);


//Aurora colors

$aurora-pink: #E2C7E5;

$aurora-muted: #424048;
