<a class="app-logo" (click)="scrollToHero()">
  <img src="assets/images/Remarkable Icon.svg" alt="Remarkable Logo" class="app-logo__image">
</a>
<div class="app-hamburger">
  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M3 12H21" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
    <path d="M3 6H21" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
    <path d="M3 18H21" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
  </svg>
</div>
<app-hero></app-hero>
<app-experiences></app-experiences>