<a class="app-logo" >
  <img src="assets/images/RemarkableLogoComplete.svg" alt="Remarkable Logo" class="app-logo__image">
</a>

<app-hero [headlineLine1]="['Where business objectives meet unforgettable experiences']" 
[subtitle]="'We design high-impact MICE, conferences, launches, and leadership events that move people, shift perception, and deliver measurable business outcomes.
'">
</app-hero>
<app-experience-measures></app-experience-measures>
<app-experience-words></app-experience-words>
<app-experiences-cards></app-experiences-cards>
<app-experience-note></app-experience-note>