/* You can add global styles to this file, and also import other style files */
@import 'styles/colors';
@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap');
/* Almarena Neue Font Face Declarations */
@font-face {
    font-family: 'Almarena Neue';
    src: url('./assets/Fonts/almarena-neue/almarenaneue-regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Almarena Neue';
    src: url('./assets/Fonts/almarena-neue/almarenaneue-ds-regular-it.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    font-family: 'Almarena Neue', sans-serif;
}

/* Hide scrollbar for all browsers while keeping scroll functionality */
* {
    /* Firefox */
    scrollbar-width: none;
    /* IE and Edge */
    -ms-overflow-style: none;
}

/* Webkit browsers (Chrome, Safari, Edge) */
*::-webkit-scrollbar {
    display: none;
}

html, body {
    /* Firefox */
    scrollbar-width: none;
    /* IE and Edge */
    -ms-overflow-style: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
    display: none;
}