<section class="hero-transition-overlay" #transitionSection>
  <!-- SVG Assets Container -->
  <div class="svg-container">
    <div class="svg-group svg-group--left">
      <img src="assets/images/logo-animation/1.svg" alt="" class="svg-asset svg-asset--1" #svg1>
      <img src="assets/images/logo-animation/2.svg" alt="" class="svg-asset svg-asset--2" #svg2>
    </div>
    <div class="svg-group svg-group--right">
      <img src="assets/images/logo-animation/3.svg" alt="" class="svg-asset svg-asset--3" #svg3>
      <img src="assets/images/logo-animation/4.svg" alt="" class="svg-asset svg-asset--4" #svg4>
    </div>
  </div>
  
  <!-- Navigation Buttons -->
  <div class="nav-buttons">
    <button class="nav-button" (click)="navigateTo('/celebrations')">
      Celebration
    </button>
    <button class="nav-button" (click)="navigateTo('/entertainments')">
      Entertainment
    </button>
    <button class="nav-button" (click)="navigateTo('/experiences')">
      Experience
    </button>
  </div>
</section>


